body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: 500;
  }
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  &:hover{
    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}

.items {
  background-color: #eeeeee;
  width: 100%;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 16px;
  box-sizing: border-box;
}
.search-results {
  max-width: 1200px;
  width: 100%;
  background-color: white;
}
.breadcumb {
  color: #666666;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 16px;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffe600;
  height: 64px;
  padding-left: 16px;
  padding-right: 16px;

  * {
    border: none;
    height: 32px;
  }

  .search-box__logo {
    width: 68px;
    background-image: url("~@/assets/images/logo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 48px 32px;
    cursor: pointer;
  }

  .search-box__input {
    max-width: 800px;
    width: 100%;
    padding-left: 8px;
    font-size: 18px;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #999999;
      opacity: 0.6;
    }
  }
  .search-box__button {
    width: 24px;
    box-sizing: content-box;
    background-image: url("~@/assets/images/search.png");
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 18px 18px;
    cursor: pointer;
    vertical-align: middle;
  }
}